{% extends "layout.html" %}

{% block title %}
    Adventuring Party
{% endblock %}

{% block main %}

<div class="title-block">
    <div class="title">The Adventuring Party</div>
</div>
    <h1 class="level1" style="color:#041A2E; padding:1rem">Enter Your Characters</h1>
<form class="mainform" action="/party" method="post">
    <h5 class="level5">Character Information <span>&#40</span>required<span>&#41</span></h5>
    <div class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <input autocomplete="off" autofocus class="form-control" id="name" name="name" placeholder="Character Name" type="text" required>
        </div>
        <div class="col-auto">
            <select class="form-select" id="class" name="class" aria-label="character class selection" required>
                <option selected disabled value="">Character class</option>
                <option value="artificer">Artificer</option>
                <option value="barbarian">Barbarian</option>
                <option value="bard">Bard</option>
                <option value="cleric">Cleric</option>
                <option value="druid">Druid</option>
                <option value="fighter">Fighter</option>
                <option value="monk">Monk</option>
                <option value="paladin">Paladin</option>
                <option value="ranger">Ranger</option>
                <option value="rogue">Rogue</option>
                <option value="sorcerer">Sorcerer</option>
                <option value="warlock">Warlock</option>
                <option value="wizard">Wizard</option>
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="level" name="level" aria-label="character level" required>
                <option selected disabled value="">Level</option>
                {% for i in range(1, 21) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <input autocomplete="off" class="form-control" style="margin: 1rem;" id="hp" name="hp" placeholder="Hit Points" type="text" required>
        </div>
        <div class="col-auto">
            <select class="form-select" id="ac" name="ac" aria-label="armor class" required>
                <option selected disabled value="">AC</option>
                {% for i in range(1, 31) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <h5 class="level5">Ability Scores</h5>
    <div class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <select class="form-select" id="str" name="str" aria-label="strength score">
                <option selected disabled>Str</option>
                {% for i in range(1, 25) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="dex" name="dex" aria-label="dexterity score">
                <option selected disabled>Dex</option>
                {% for i in range(1, 25) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="con" name="con" aria-label="constitution score">
                <option selected disabled>Con</option>
                {% for i in range(1, 25) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="int" name="int" aria-label="intelligence score">
                <option selected disabled>Int</option>
                {% for i in range(1, 25) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="wis" name="wis" aria-label="wisdom score">
                <option selected disabled>Wis</option>
                {% for i in range(1, 25) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="cha" name="cha" aria-label="charisma score">
                <option selected disabled>Cha</option>
                {% for i in range(1, 25) %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <h5 class="level5">Primary Weapon</h5>
    <div class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <select class="form-select" id="attacks" name="attacks" aria-label="number of attacks">
                <option selected disabled>Attacks</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="weapon1" name="weapon1" aria-label="weapon choice">
                <option selected disabled>Weapon</option>
                {% for weapon in weapons["results"] %}
                    <option value="{{ weapon["name"] }}">{{ weapon["name"] }}: {{ weapon["damage_dice"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="magic1" name="magic1" aria-label="magical weapon">
                <option selected disabled>Magic Weapon?</option>
                <option value="0">No</option>
                <option value="1">+1</option>
                <option value="2">+2</option>
                <option value="3">+3</option>
                <option value="4">+4</option>
                <option value="5">+5</option>
            </select>
        </div>
        <div class="col-auto">
            <select class="form-select" id="fighting_style" name="fighting_style" aria-label="fighting style">
                <option selected disabled>Fighting Style?</option>
                <option value="none">None</option>
                <option value="archery">Archery</option>
                <option value="defense">Defense</option>
                <option value="dueling">Dueling</option>
                <option value="great_weapon">Great Weapon Fighting</option>
                <option value="protection">Protection</option>
                <option value="two_weapon">Two-Weapon Fighting</option>
            </select>
        </div>
        </div>
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto" style="margin-left: 15px;">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="imp_crit1" name="imp_crit1">
                    <label class="form-check-label" for="imp_crit1">Improved Critical: 19-20</label>
                </div>
            </div>
            <div class="col-auto" style="margin-left: 15px;">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="xdmg_dice_view1" name="xdmg_dice_view1">
                    <label class="form-check-label" for="xdmg_dice_view1">Weapon deals extra damage dice</label>
                </div>
            </div>
        </div>
    </div>
    <div id="xdmg_dice_field1" style="display: none;">
        <h5 class="level5">Extra Damage Dice</h5>
        <div class="row gy-2 gx-3 align-items-center" >
            <div class="col-auto">
                <input autocomplete="off" class="form-control" id="xdmg_dice1" name="xdmg_dice1" placeholder="1d8 or 2d6 etc." type="text">
            </div>
            <div class="col-auto">
                <select class="form-select" id="xdmg_type1" name="xdmg_type1" aria-label="magical weapon damage type">
                    <option selected disabled>Damage type?</option>
                    <option value="acid">acid</option>
                    <option value="bludgeoning">bludgeoning</option>
                    <option value="cold">cold</option>
                    <option value="fire">fire</option>
                    <option value="force">force</option>
                    <option value="lightning">lightning</option>
                    <option value="necrotic">necrotic</option>
                    <option value="piercing">piercing</option>
                    <option value="poison">poison</option>
                    <option value="psychic">psychic</option>
                    <option value="radiant">radiant</option>
                    <option value="slashing">slashing</option>
                    <option value="thunder">thunder</option>
                </select>
            </div>
            <div class="col-auto">
                <select class="form-select" id="xdmg_mon1" name="xdmg_mon1" aria-label="extra damage limited to monster type">
                    <option selected disabled>Is extra damage limited to a monster type?</option>
                    <option value="False">No</option>
                    <option value="aberration">abberation</option>
                    <option value="beast">beast</option>
                    <option value="celestial">celestial</option>
                    <option value="construct">construct</option>
                    <option value="dragon">dragon</option>
                    <option value="elemental">elemental</option>
                    <option value="fey">fey</option>
                    <option value="fiend">fiend</option>
                    <option value="giant">giant</option>
                    <option value="humanoid">humanoid</option>
                    <option value="monstrosity">monstrosity</option>
                    <option value="ooze">ooze</option>
                    <option value="plant">plant</option>
                    <option value="undead">undead</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row gy-2 gx-3 align-items-center" >
        <div class="col-auto">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="secondary_weapon_view">
                <label class="form-check-label" for="secondary_weapon_view">An off hand weapon is used</label>
            </div>
        </div>
    </div>
    <div id="secondary_weapon_field" style="display: none;">
        <br>
        <h5 class="level5">Off-hand or Second Weapon</h5>
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <select class="form-select" id="weapon2" name="weapon2" aria-label="weapon choice">
                    <option selected disabled>Weapon</option>
                    {% for weapon in weapons["results"] %}
                        <option value={{weapon["name"]}}>{{weapon["name"]}}: {{weapon["damage_dice"]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <select class="form-select" id="magic2" name="magic2" aria-label="magical weapon">
                    <option selected disabled>Magic Weapon?</option>
                    <option value="0">No</option>
                    <option value="1">+1</option>
                    <option value="2">+2</option>
                    <option value="3">+3</option>
                    <option value="4">+4</option>
                    <option value="5">+5</option>
                </select>
            </div>
            <div class="row gy-2 gx-3 align-items-center">
                <div class="col-auto" style="margin-left: 15px;">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="imp_crit2" name="imp_crit2">
                        <label class="form-check-label" for="imp_crit2">Improved Critical: 19-20</label>
                    </div>
                </div>
                <div class="col-auto" style="margin-left: 15px;">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="xdmg_dice_view2" name="xdmg_dice_view2">
                        <label class="form-check-label" for="xdmg_dice_view2">Weapon deals extra damage dice</label>
                    </div>
                </div>
            </div>
        </div>
        <div id="xdmg_dice_field2" style="display: none;">
            <h5 class="level5">Extra Damage Dice</h5>
            <div class="row gy-2 gx-3 align-items-center" >
                <div class="col-auto">
                    <input autocomplete="off" class="form-control" id="xdmg_dice2" name="xdmg_dice2" placeholder="1d8 or 2d6 etc." type="text">
                </div>
                <div class="col-auto">
                    <select class="form-select" id="xdmg_type2" name="xdmg_type2" aria-label="magical weapon damage type">
                        <option selected disabled>Damage type?</option>
                        <option value="acid">acid</option>
                        <option value="bludgeoning">bludgeoning</option>
                        <option value="cold">cold</option>
                        <option value="fire">fire</option>
                        <option value="force">force</option>
                        <option value="lightning">lightning</option>
                        <option value="necrotic">necrotic</option>
                        <option value="piercing">piercing</option>
                        <option value="poison">poison</option>
                        <option value="psychic">psychic</option>
                        <option value="radiant">radiant</option>
                        <option value="slashing">slashing</option>
                        <option value="thunder">thunder</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="form-select" id="xdmg_mon2" name="xdmg_mon2" aria-label="extra damage limited to monster type">
                        <option selected disabled>Is extra damage limited to a monster type?</option>
                        <option value="False">No</option>
                        <option value="aberration">abberation</option>
                        <option value="beast">beast</option>
                        <option value="celestial">celestial</option>
                        <option value="construct">construct</option>
                        <option value="dragon">dragon</option>
                        <option value="elemental">elemental</option>
                        <option value="fey">fey</option>
                        <option value="fiend">fiend</option>
                        <option value="giant">giant</option>
                        <option value="humanoid">humanoid</option>
                        <option value="monstrosity">monstrosity</option>
                        <option value="ooze">ooze</option>
                        <option value="plant">plant</option>
                        <option value="undead">undead</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <h5 class="level5">Spellcasting</h5>
    <div class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="spellcasting" name="spellcasting">
                <label class="form-check-label" for="spellcasting">Character uses spells in combat encounters</label>
            </div>
        </div>
    </div>
    <div id="spells" style="display: none;">
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="caster_type" id="none" value="none" checked>
                    <label class="form-check-label" for="none">None <span>&#40</span>does not use spells regularly in combat<span>&#41</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="caster_type" id="combatcaster" value="half_m">
                    <label class="form-check-label" for="combatcaster">Half-caster Weapon Focus<span>&#40</span>commonly mixes melee or ranged attacks with some spells [ 2/3 Weapon | 1/3 Spells ]<span>&#41</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="caster_type" id="halfcaster" value="half_s">
                    <label class="form-check-label" for="halfcaster">Half-caster Spell Focus<span>&#40</span>commonly mixes spells with some melee or ranged attacks [ 2/3 Spells | 1/3 Weapon ]<span>&#41</span></label>
                </div>                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="caster_type" id="fullcaster" value="full">
                    <label class="form-check-label" for="fullcaster">Full Caster <span>&#40</span>uses only spells unless in unfortunate circumstances<span>&#41</span></label>
                </div>
            </div>
        </div>
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <h5 class="level5">Spells:</h5>
                <div>Select combat spells typically used by this character.</div>
                <div>Please follow the suggested progression that appears in the spell selection boxes based on your own level and use</div>
                <select class="form-select" id="spell1" name="spell1" aria-label="spell choice one">
                    <option selected disabled>Spell: Cantrip</option>
                    <option value="None"> -- </option>
                    {% for spell in spells%}
                        {% if spell["level"] == "0" %}
                            <option value="{{ spell["name"] }}">{{ spell["level"] }}: {{ spell["name"] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select class="form-select" id="spell2" name="spell2" aria-label="spell choice two">
                    <option selected disabled>Spell: Lower Level</option>
                    <option value="None"> -- </option>
                    {% for spell in spells%}
                        <option value="{{ spell["name"] }}">{{ spell["level"] }}: {{ spell["name"] }}</option>
                    {% endfor %}
                </select>
                <select class="form-select" id="spell3" name="spell3" aria-label="spell choice three">
                    <option selected disabled>Spell: Medium Level</option>
                    <option value="None"> -- </option>
                    {% for spell in spells%}
                        <option value="{{ spell["name"] }}">{{ spell["level"] }}: {{ spell["name"] }}</option>
                    {% endfor %}
                </select>
                <select class="form-select" id="spell4" name="spell4" aria-label="spell choice four">
                    <option selected disabled>Spell: Medium / High Level</option>
                    <option value="None"> -- </option>
                    {% for spell in spells%}
                        <option value="{{ spell["name"] }}">{{ spell["level"] }}: {{ spell["name"] }}</option>
                    {% endfor %}
                </select>
                <select class="form-select" id="spell5" name="spell5" aria-label="spell choice five">
                    <option selected disabled>Spell: High Level</option>
                    <option value="None"> -- </option>
                    {% for spell in spells%}
                        <option value="{{ spell["name"] }}">{{ spell["level"] }}: {{ spell["name"] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <button class="btn" type="submit">Add Character</button>
</form>

{% if party|length %}
<div class="row tablecontainer align-items-center">
    <h1 class="level1" style="color:#450920; padding:1rem">Encounter Stats</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Characters</th>
                <th scope="col">Group AC</th>
                <th scope="col">Total HP</th>
                <th scope="col">Attacks</th>
                <th scope="col">Average DPR</th>
            </tr>
        </thead>
        <tbody>
            <tr class="mb-3" style="align-items: center;">
                <td class="pcstats">{{encounter["party"]["count"]}}</td>
                <td class="pcstats">{{encounter["party"]["ac"]}}</td>
                <td class="pcstats">{{encounter["party"]["hp"]}}</td>
                <td class="pcstats">{{encounter["party"]["attacks"]}}</td>
                <td class="pcstats">{% if dpr_total <= 0 %} N/A {% else %} {{dpr_total}} {% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h1 class="level1" style="color:#041A2E; padding:1rem">Party Members</h1>
    <div>
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th scope="col"> </th>
                    <th scope="col">Name</th>
                    <th scope="col">Level</th>
                    <th scope="col">Hit Points</th>
                    <th scope="col">Armor Class</th>
                    <th scope="col">Average DPR</th>
                    <th scope="col" class="th-sm"> </th>
                </tr>
            </thead>
            <tbody>
                {% for character in party %}
                    <tr class="mb-3" style="align-items: center;">
                        <td><img src="static/images/icons/{{character["class"]}}.png" class="class_icon"></td>
                        <td class="pcname">{{character["name"]}}</td>
                        <td class="pcstats">{{character["level"]}}</td>
                        <td class="pcstats">{{character["hp"]}}</td>
                        <td class="pcstats">{{character["ac"]}}</td>
                        <td class="pcname">{% if character["dpr"]["med"] <= 0 %} N/A {% else %} {{character["dpr"]["med"]}}
                            {% if character["weapon1"]["dpr_string"]|length and character["caster_type"] != "full" %}
                                <span data-bs-toggle="modal" data-bs-target="#{{character["name"]+"weapons"}}">
                                    <img src="static/images/icons/sword-icon.png" alt="sword icon" width="20px" height="20px">
                                </span>
                                <div class="modal fade" id="{{character["name"]+"weapons"}}" tabindex="-1" aria-labelledby="weaponmodal" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5 level1">{{character["name"]}}'s Weapons</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="font-size: 16px;">
                                            <h4 class="level4">Base: {{character["dpr"]["base"]}}</h4>
                                            <h4 class="level4">Medium: {{character["dpr"]["med"]}} | base x 1.3</h4>
                                            <h4 class="level4">High: {{character["dpr"]["high"]}} | base x 1.8</h4>
                                            <h5 class="level5">{{character["weapon1"]["name"]}}</h5>
                                            {{character["weapon1"]["dpr_string"]}}
                                            <br>
                                            {% if character["weapon2"]["name"] != "none" %}
                                                <br>
                                                <h5 class="level5">{{character["weapon2"]["name"]}}</h5>
                                                {{character["weapon2"]["dpr_string"]}}
                                            {% endif %}
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if character["caster_type"] == "full" or character["caster_type"] == "half_m" or  character["caster_type"] == "half_s" %}                           
                            <span data-bs-toggle="modal" data-bs-target="#{{character["name"]+"spells"}}">
                                <img src="static/images/icons/thunder-icon.png" alt="thunder icon" width="20px" height="20px">
                            </span>
                            <div class="modal fade" id="{{character["name"]+"spells"}}" tabindex="-1" aria-labelledby="spellmodal" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5 level1">{{character["name"]}}'s Spells</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-size: 16px;">
                                        <h4 class="level4">Spell Damage Profiles</h4>
                                        <h5 class="level5">Low: {{character["spell_dpr"]["low"]}} | Med: {{character["spell_dpr"]["med"]}} | High: {{character["spell_dpr"]["high"]}}</h5>
                                        <h4 class="level4">Individual Spells</h4>
                                        {% for spell in character["spells"] %}
                                            {{spell["name"]}}: {{spell["dpr_string"]}} <br>
                                            Odds: {{spell["odds_string"]}} <br>
                                            <br>
                                        {% endfor %}
                                    </div>
                                  </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                        </td>
                        <td><form action="/editpc" method="post">
                            <input type="hidden" id="name" name="name" value="{{character["name"]}}">
                            <button type="submit" class="btn" style="border-radius: 5px;">
                                <img src="static/images/icons/edit-icon.png" alt="Image" width="30px" height="30px">
                            </button>
                            <button type="submit" class="btn" style="border-radius: 5px;" formaction="/removepc">
                                <img src="static/images/icons/trash-icon.png" alt="Image" width="30px" height="30px">
                            </button>
                            </form>
                        </td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}


<script>
    // bootstrap popover initialization
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
    })
    // extra form info hiding javascript
    const d_dice_box1 = document.getElementById('xdmg_dice_view1')
    const div1 = document.getElementById('xdmg_dice_field1')
    const xdd1 = document.getElementById('xdmg_dice1')
    const xdt1 = document.getElementById('xdmg_type1')
    const xdm1 = document.getElementById('xdmg_mon1')

    const s_weapon_box = document.getElementById('secondary_weapon_view')
    const swdiv = document.getElementById('secondary_weapon_field')
    const s_weapon = document.getElementById('weapon2')
    const s_magic = document.getElementById('magic2')

    const d_dice_box2 = document.getElementById('xdmg_dice_view2')
    const div2 = document.getElementById('xdmg_dice_field2')
    const xdd2 = document.getElementById('xdmg_dice2')
    const xdt2 = document.getElementById('xdmg_type2')
    const xdm2 = document.getElementById('xdmg_mon2')

    if (d_dice_box1.checked == true) {
        div1.style.removeProperty ('display');
    }

    d_dice_box1.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            div1.style.removeProperty ('display');
        } else {
            div1.style.display = "none";
            xdd1.value= "";
            xdt1.selectedIndex = "null";
            xdm1.selectedIndex = "null";
        }
    })

    if (s_weapon_box.checked == true) {
        swdiv.style.removeProperty ('display');
    }

    s_weapon_box.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            swdiv.style.removeProperty ('display');
        } else {
            swdiv.style.display = "none";
            s_weapon.selectedIndex = "null";
            s_magic.selectedIndex = "null";
            d_dice_box2.checked = false;
            div2.style.display = "none";
            xdd2.value = "";
            xdt2.selectedIndex = "null";
            xdm2.selectedIndex = "null";

        }
    })

    if (d_dice_box2.checked == true) {
        div2.style.removeProperty ('display');
    }

    d_dice_box2.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            div2.style.removeProperty ('display');
        } else {
            div2.style.display = "none";
            xdd2.value = "";
            xdt2.selectedIndex = "null";
            xdm2.selectedIndex = "null";
        }
    })

    const s_cast_switch = document.getElementById('spellcasting')
    const s_cast_view = document.getElementById('spells')
    r_half = document.getElementById('halfcaster')
    r_full = document.getElementById('fullcaster')
    s1 = document.getElementById('spell1')
    s2 = document.getElementById('spell2')
    s3 = document.getElementById('spell3')
    s4 = document.getElementById('spell4')
    s5 = document.getElementById('spell5')

    if (s_cast_switch.checked == true) {
        s_cast_view.style.removeProperty ('display');
    }

    s_cast_switch.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            s_cast_view.style.removeProperty ('display');
        } else {
            s_cast_view.style.display = "none";
            r_half.checked = false;
            r_full.checked = false;
            s1.selectedIndex = "null";
            s2.selectedIndex = "null";
            s3.selectedIndex = "null";
            s4.selectedIndex = "null";
            s5.selectedIndex = "null";
        }
    })

</script>



{% endblock %}